---
# Tasks file for NPM

- name: "NPM | Configure"
  become: yes
  become_user: "{{ fubarhouse_user }}"
  shell: "{{ fubarhouse_npm.user_dir }}/.nvm/v{{ node_version }}/bin/npm config set prefix /usr/local"
  when: 'ansible_ssh_user is defined and ansible_ssh_user != "travis"'

- name: "NPM | Ensure installed and updated"
  become: yes
  become_user: root
  npm:
    name: "{{ item }}"
    executable: "{{ fubarhouse_npm.user_dir }}/.nvm/v{{ node_version }}/bin/npm"
    global: yes
  with_items:
    - "{{ node_packages }}"
